<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.videoPlayer.filemanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/exploraa"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.videoPlayer.filemanager.MainActivity"
            android:label="@string/title_activity_fileexplorer"
            android:theme="@android:style/Theme.Holo.Light">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.videoPlayer.filemanager.FileChooser"
            android:label="Choose File"
            android:theme="@android:style/Theme.Holo.Light">
            <action android:name="com.videoPlayer.filemanager.FileChooser" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.videoPlayer.filemanager.VideoActivity"
            android:screenOrientation="landscape">

        </activity>
    </application>

</manifest>